<!DOCTYPE html>
<html>
<style>
    h1,
    button,
    div {
        text-align: center;
        color: rgb(255, 6, 6);
    }

    body {
        background: black
    }
</style>

<body>
    <h1>Error!</h1>
    <h1>Return to the main menu:</h2>
        <div>
            <a href="/"><button type="button">Home</button></a>
        </div>
</body>

</html>