<!DOCTYPE html>
<html>
{{> header}}
<style>
    #wrapper {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body {
        background: black
    }

    fieldset {
        color: white
    }
</style>

<body>
    <h1 style="text-align: center; color:white;">Welcome Back to the battle !</h1><br><br>

    <div id="wrapper">

        <form action="/searchNASA" method="get">

            <fieldset>
                <p>Search NASA database for images!:</p>
                <input type="text" name="query" required>
                <input type="submit" value="Submit">
            </fieldset>


        </form>

        <form action="/searchCards" method="get">

            <fieldset>
                <p>Display a deck with N cards!</p>
                <p>Input N below:</p>
                <input type="text" name="number" required>
                <input type="submit" value="Submit">
            </fieldset>


        </form>






    </div>

</body>

</html>