body {
    background-color: darkgoldenrod;
}

h1 {
    color: rebeccapurple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

em {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}